///////////////Button/////////////////////////

.parent {
    -fx-background-color:  #FFF;
}

.background{
    -fx-background-color: #333645;
}

.btns {
    -fx-background-radius: 5em;
    -fx-background-color: transparent;
    -fx-fill: transparent;
    -fx-border-color: transparent;

}

.btns:hover {
    -fx-opacity: 0.2;
    -fx-graphic: url('camera-image-icon-2.jpg-4.png');
    -fx-graphic-size:16px 16px;
   /* -fx-background-color: #transparent; */

}

.main {
    -fx-background-color: #333645;
}

.dark-blue {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Apple Symbols";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
}


/////////////////////////////////////////////

///////////////Tables/////////////////////////

.table-view{

    -fx-background-color:transparent;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 1;
}

.table-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-users {
    -fx-base:  #b9bed2;
    -fx-selection-bar-non-focused: #7e85ac;

}


.table-users .column-header-background{
     -fx-background-color: #00A2D3;
}


.table-cell {
    -fx-background-color: transparent;
    -fx-font-size: 24px;
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-text-fill: #7c8184;

}


.table-users:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #a1a7c3;
    -fx-table-cell-border-color: transparent;

}
